<div class="flex items-center justify-center p-4">
    <p>
        Tawanda Munongo &copy; 2025
    </p>
    <p>
        Contributions: <a class="text-underline" href="https://github.com/tmunongo/tinyutils">GitHub</a>
    </p>
</div>