@inherits LayoutComponentBase

<div class="flex min-h-screen">
    <NavMenu />
    <main class="flex-1 p-8 bg-gray-50">
        <div class="max-w-6xl mx-auto">
            @Body
        </div>
        <Footer />
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>